#githubBtn {
    background-color : #ff9900; 
    border: none;
    padding: 10px 24px; 
    border-radius: 6px; 
    margin: 0px 10px;
    color: white;
    font-size: 15px; 
    font-weight: 500px; 
    
}